
# <div style="text-align: center;">  Підготовка та аналіз даних  </div> #

# <div style="text-align: center;"> _Лабораторна робота №2_ </div> #



## <div style="text-align: right;"> _ФБ-24 Бадрак Іван_ </div> ##





### 1. Створити env в якому будуть встановлені всі необхідні бібліотеки та налаштування для данної лабораторної роботи. ###
### Для цього завантажив Anaconda Navigator, створив новий env та проімпортував бібліотеки, які необхідні для виконання лабораторної роботи.
### 2. Для кожної із адміністративних одиниць України завантажити тестові структуровані файли, що містять значення VHI-індексу. Ця процедура має бути автоматизована, параметром процедури має бути індекс (номер) області. При зберіганні файлу до його імені потрібно додати дату та час завантаження; ###

In [14]:
from datetime import datetime
import os
import urllib

url="https://www.star.nesdis.noaa.gov/smcd/emb/vci/VH/get_TS_admin.php?country=UKR&provinceID={}&year1=1981&year2=2023&type=Mean"
datentime = datetime.now().strftime("%d-%m-%Y-%H-%M-%S")

def DataDownload(url, datentime):
    file_exists = False
    
    if not os.path.exists('DataCSV'):
        os.makedirs('DataCSV')

    for file in os.listdir('DataCSV'):
        if file.startswith('NOAA_ID'):
            file_exists = True
            break
            
    if file_exists:
        return 'Файли вже завантажені'

    for regionid in range(1, 28):
        URL = url.format(regionid)
        filename = f"NOAA_ID{regionid}_{datentime}.csv"
        filepath = os.path.join("DataCSV", filename)
        try:
            urllib.request.urlretrieve(URL, filepath)
        except Exception as exc:
            print(f"Відбулася помилка при скачуванні файлу для номеру області {regionid}: {str(exc)}")

    return 'Файли завантажені успішно'
    

DataDownload(url, datentime)

Відбулася помилка при скачуванні файлу для номеру області 25: Remote end closed connection without response

'Файли завантажені успішно'

### 3. Зчитати завантажені текстові файли у фрейм (детальніше про роботу із фреймами буде розказано у подальших лабораторних роботах). Імена стовбців фрейму мають бути змістовними та легкими для сприйняття (не повинно бути спеціалізованих символів, пробілів тощо). Ця задача має бути реалізована у вигляді окремої процедури, яка на вхід приймає шлях до директорії, в якій зберігаються файли; ###

In [39]:
import pandas as pd
import os

def CleanData(Path):
    list = []

    if not os.path.exists(Path) or not os.path.isdir(Path):
        print ('Вказаного каталогу не існує або не є каталогом')
    else:
        noaafiles = os.listdir(Path)
        for i, file in enumerate(noaafiles):
            if file.endswith('.csv'):
                filepath = os.path.join(Path, file)
                df = pd.read_csv(filepath, index_col=False, header=1)
                df['ID'] = i + 1
                list.append(df)
        df = pd.concat(list).drop_duplicates().reset_index(drop=True)

    print (df) # before
    df = df.rename(columns={' VHI<br>': 'VHI'})

    # print (df.head())
    df['year'].replace({'<tt><pre>1982': '1982'}, inplace=True)
    df = df.drop(df.loc[df['VHI'] == -1].index)

    # print (df.tail())
    df = df.drop(56809)

    # print (df.dtypes)
    df['year'] = pd.to_numeric(df['year'], errors='coerce')

    # print (f'{df.head()}\n{df.dtypes}\n{df.tail()}')
    # print (df)
    return df

path = 'DataCSV'
CleanData(path)

                year  week    SMN     SMT    VCI    TCI   VHI<br>  ID
0      <tt><pre>1982   1.0  0.059  258.24  51.11  48.78     49.95   2
1               1982   2.0  0.063  261.53  55.89  38.20     47.04   2
2               1982   3.0  0.063  263.45  57.30  32.69     44.99   2
3               1982   4.0  0.061  265.10  53.96  28.62     41.29   2
4               1982   5.0  0.058  266.42  46.87  28.57     37.72   2
...              ...   ...    ...     ...    ...    ...       ...  ..
56805           2023  49.0  0.097  275.73  38.12  16.77     27.45  27
56806           2023  50.0  0.097  275.42  40.98  13.16     27.07  27
56807           2023  51.0  0.097  274.98  43.98  11.14     27.56  27
56808           2023  52.0  0.098  274.62  47.00  10.39     28.70  27
56809    </pre></tt>   NaN    NaN     NaN    NaN    NaN       NaN  27

[56810 rows x 8 columns]

         year  week    SMN     SMT    VCI    TCI    VHI  ID
0      1982.0   1.0  0.059  258.24  51.11  48.78  49.95   2
1      1982.0   2.0  0.063  261.53  55.89  38.20  47.04   2
2      1982.0   3.0  0.063  263.45  57.30  32.69  44.99   2
3      1982.0   4.0  0.061  265.10  53.96  28.62  41.29   2
4      1982.0   5.0  0.058  266.42  46.87  28.57  37.72   2
...       ...   ...    ...     ...    ...    ...    ...  ..
56804  2023.0  48.0  0.101  277.36  37.50  15.86  26.68  27
56805  2023.0  49.0  0.097  275.73  38.12  16.77  27.45  27
56806  2023.0  50.0  0.097  275.42  40.98  13.16  27.07  27
56807  2023.0  51.0  0.097  274.98  43.98  11.14  27.56  27
56808  2023.0  52.0  0.098  274.62  47.00  10.39  28.70  27

[55509 rows x 8 columns]

### 4. Реалізувати процедуру, яка змінить індекси областей, які використані на порталі NOAA на наступні: ###

In [43]:
import pandas as pd
import os

def CleanData(Path):
    list = []

    if not os.path.exists(Path) or not os.path.isdir(Path):
        print ('Вказаного каталогу не існує або не є каталогом')
    else:
        noaafiles = os.listdir(Path)
        for i, file in enumerate(noaafiles):
            if file.endswith('.csv'):
                filepath = os.path.join(Path, file)
                df = pd.read_csv(filepath, index_col=False, header=1)
                df['ID'] = i + 1
                list.append(df)
        df = pd.concat(list).drop_duplicates().reset_index(drop=True)

    # print (df) # before
    df = df.rename(columns={' VHI<br>': 'VHI'})

    # print (df.head())
    df['year'].replace({'<tt><pre>1982': '1982'}, inplace=True)
    df = df.drop(df.loc[df['VHI'] == -1].index)

    # print (df.tail())
    df = df.drop(56809)

    # print (df.dtypes)
    df['year'] = pd.to_numeric(df['year'], errors='coerce')

    # print (f'{df.head()}\n{df.dtypes}\n{df.tail()}')
    # print (df)
    return df

path = 'DataCSV'
clean_df = CleanData(path)

def ChangeIndex (df):
    new_index = {
        1: 22,
        2: 24,
        3: 23,
        4: 25,
        5: 3,
        6: 4,
        7: 8,
        8: 19,
        9: 20,
        10: 21,
        11: 9,
        12: 9,
        13: 10,
        14: 11,
        15: 12,
        16: 13,
        17: 14,
        18: 15,
        19: 16,
        20: 25,
        21: 17,
        22: 18,
        23: 6,
        24: 1,
        25: 2,
        26: 7,
        27: 5,
    }

    df['ID'].replace( new_index, inplace=True)
    # print (df)
    return df

ChangeIndex(clean_df)

         year  week    SMN     SMT    VCI    TCI    VHI  ID
0      1982.0   1.0  0.059  258.24  51.11  48.78  49.95  24
1      1982.0   2.0  0.063  261.53  55.89  38.20  47.04  24
2      1982.0   3.0  0.063  263.45  57.30  32.69  44.99  24
3      1982.0   4.0  0.061  265.10  53.96  28.62  41.29  24
4      1982.0   5.0  0.058  266.42  46.87  28.57  37.72  24
...       ...   ...    ...     ...    ...    ...    ...  ..
56804  2023.0  48.0  0.101  277.36  37.50  15.86  26.68   5
56805  2023.0  49.0  0.097  275.73  38.12  16.77  27.45   5
56806  2023.0  50.0  0.097  275.42  40.98  13.16  27.07   5
56807  2023.0  51.0  0.097  274.98  43.98  11.14  27.56   5
56808  2023.0  52.0  0.098  274.62  47.00  10.39  28.70   5

[55509 rows x 8 columns]

### 5. Реалізувати процедури для формування вибірок наступного виду (включаючи елементи аналізу): 

### Ряд VHI для області за вказаний рік, пошук екстремумів (min та max);
### Ряд VHI за вказаний діапазон років для вказаних областей; виявити роки, протягом яких екстремальні посухи торкнулися більше вказаного відсотка областей по Україні (20% областей - 5 областей з 25);
### Аналогічно для помірних посух

In [45]:
import pandas as pd
import os

def CleanData(Path):
    list = []

    if not os.path.exists(Path) or not os.path.isdir(Path):
        print ('Вказаного каталогу не існує або не є каталогом')
    else:
        noaafiles = os.listdir(Path)
        for i, file in enumerate(noaafiles):
            if file.endswith('.csv'):
                filepath = os.path.join(Path, file)
                df = pd.read_csv(filepath, index_col=False, header=1)
                df['ID'] = i + 1
                list.append(df)
        df = pd.concat(list).drop_duplicates().reset_index(drop=True)

    # print (df) # before
    df = df.rename(columns={' VHI<br>': 'VHI'})
    df = df.rename(columns={' SMN': 'SMN'})

    # print (df.head())
    df['year'].replace({'<tt><pre>1982': '1982'}, inplace=True)
    df = df.drop(df.loc[df['VHI'] == -1].index)

    # print (df.tail())
    df = df.drop(56809)

    # print (df.dtypes)
    df['year'] = pd.to_numeric(df['year'], errors='coerce')
    
    # print (f'{df.head()}\n{df.dtypes}\n{df.tail()}')
    # print (df)
    return df

path = 'DataCSV'
clean_df = CleanData(path)

def ChangeIndex (df):
    new_index = {
        1: 22,
        2: 24,
        3: 23,
        4: 25,
        5: 3,
        6: 4,
        7: 8,
        8: 19,
        9: 20,
        10: 21,
        11: 9,
        12: 9,
        13: 10,
        14: 11,
        15: 12,
        16: 13,
        17: 14,
        18: 15,
        19: 16,
        20: 25,
        21: 17,
        22: 18,
        23: 6,
        24: 1,
        25: 2,
        26: 7,
        27: 5,
    }

    df['ID'].replace( new_index, inplace=True)
    # print (df)
    return df

# Ряд VHI для області за вказаний рік, пошук екстремумів (min та max) 
def ExtremesByYear(df, year, regionid):
    min = df[(df['year'] == year) & (df['ID'] == regionid)]['VHI'].min()
    max = df[(df['year'] == year) & (df['ID'] == regionid)]['VHI'].max()
    print (f'Мінімальне значення VHI за {year} рік для області під номером {regionid}: {min}\nМаксимальне значення VHI за {year} рік для області під номером {regionid}: {max}')

# Ряд VHI за вказаний діапазон років для вказаних областей; виявити роки, протягом яких екстремальні посухи торкнулися
# більше вказаного відсотка областей по Україні (20% областей - 5 областей з 25);
def YearswExtremedr(df, first_year, second_year):
    all = df[(df['year'] >= first_year) & (df['year'] <= second_year)]['week'].count()
    required = df[(df['year'] >= first_year) & (df['year'] <= second_year) & (df['VHI'] < 15)]['week'].count()
    percent = (required/all)*100
    print (f'За період з {first_year} по {second_year} було {required} тижнів з екстримальними посухами.\nЦе дорівнює {percent}% від усієї кількості тижнів цього діапазону')

# Аналогічно для помірних посух
def YearswModeratedr(df, first_year, second_year):   # Помірною посухою будемо вважати коли VHI менше за 35 та більше 30
    all = df[(df['year'] >= first_year) & (df['year'] <= second_year)]['week'].count()
    required = df[(df['year'] >= first_year) & (df['year'] <= second_year) & (df['VHI'] < 35) & (df['VHI'] > 30)]['week'].count()
    percent = (required/all)*100
    print (f'За період з {first_year} по {second_year} було {required} тижнів з помірними посухами.\nЦе дорівнює {percent}% від усієї кількості тижнів цього діапазону')

change_df = ChangeIndex(clean_df)
ExtremesByYear(change_df, 1998.0, 5)
YearswExtremedr (change_df, 2007.0, 2013.0)
YearswModeratedr (change_df, 1991.0, 1999.0)

Мінімальне значення VHI за 1998.0 рік для області під номером 5: 32.03
Максимальне значення VHI за 1998.0 рік для області під номером 5: 76.53
За період з 2007.0 по 2013.0 було 52 тижнів з екстримальними посухами.
Це дорівнює 0.5494505494505495% від усієї кількості тижнів цього діапазону
За період з 1991.0 по 1999.0 було 1020 тижнів з помірними посухами.
Це дорівнює 8.737365084803837% від усієї кількості тижнів цього діапазону